* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-size: 400% 400%; 
    color: #333;
    height: auto;
    position: relative;
}

.content {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
}

.gradient-background {
    background: linear-gradient(-45deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
    background-size: 400% 400%; 
    animation: gradientBG 15s ease infinite;
    flex: 1;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 768px) {
    .content {
        padding: 20px;
    }
    
    header {
        height: 60px;
    }
    
    footer {
        padding: 15px;
    }
}


/*---------------HEADER---------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    height: 80px;
    transition: height 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}

header.scrolled {
    background-color: rgba(51, 51, 51, 1);
}

.hide-header {
    opacity: 0;
    pointer-events: none;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff; 
    padding: 10px 15px; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffcc00;
    border-radius: 5px;
}

/*---------------SECTION---------------*/

.section {
    background-color: rgba(156, 144, 144, 0.8);
    border-radius: 15px;
    padding: 50px;
    margin: 20px auto;
    width: 50%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin-top: 100px;
}

.section:hover {
    transform: scale(1.02);
}


/*---------------ABOUT---------------*/

#about h2 {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 10px;
}

#about p {
    text-align: center;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    text-align: center;
}

.about-details {
    flex: 1;
    margin-right: 20px;
}

.about-image {
    display: flex;
    align-items: center;
}

.about-image img {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin-left: 20px;
}

.stack-images-container {
    display: flex; 
    justify-content: center;
    margin-top: 20px;
}

.stack-image {
    width: 50px;
    height: auto;
    margin: 0 10px;
}


/*---------------EXPERIENCE---------------*/

#experience h2 {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 10px;
}

#experience div {
    border-radius: 10px;
}

.experience {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.experience:hover {
    transform: scale(1.05);
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

#experience button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#experience button:hover {
    background-color: #555;
}

.job-info {
    display: flex;
    align-items: center;
}

.icon-left {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 10px;
}

.experience p {
    margin-left: 60px;
    font-style: italic;
}

.experience ul {
    margin-left: 80px;
}


/*---------------PROJECTS-MODAL---------------*/

body.no-scroll {
    overflow: hidden;
}

.modal-projects {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.modal-content {
    background-color: rgb(156, 144, 144);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: max-content;
    max-height: 70%;
    border-radius: 10px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    text-align: center;
}

.closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -15px;
    margin-right: 0px;
}

.closeModal:hover,
.closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal.show {
    display: block;
    opacity: 1;
}


/*---------------PROJECTS---------------*/

.projects-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.project {
    text-align: center;
}

.project-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.project-description {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    text-align: center;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.project div {
    border-radius: 10px;
}

.project button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project button:hover {
    background-color: #555;
}

.projects-git {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.projects-git:hover {
    transform: scale(1.05);
}


/*---------------CONTACT---------------*/

#contact h2 {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 10px;
}

#contact div{
    margin-left: -150px;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    margin-right: 10px;
    flex-basis: 30%;
    text-align: right;
}

.form-group input, 
.form-group textarea {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact form button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#contact form button:hover {
    background-color: #555;
}

#contact form .form-group {
    justify-content: flex-start;
    width: 100%;
}


/*---------------FOOTER---------------*/

footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

